@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  cursor: none !important;
}

.container {
  width: 84%;
  margin: 0 auto;
}
.container .row {
  display: flex;
}

body {
  background-color: #252525;
}

.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(#fbfcfd, #9d9da4);
  pointer-events: none;
  z-index: 99999999;
  transition: transform 0.05s linear;
}

/* Scrollbar ümumi görünüş */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb {
  background: #454343;
  border-radius: 3px;
  border: 1px solid #373636;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 20px 0;
  transition: all 0.3s ease;
}
.header.toUp {
  transform: translateY(-100%);
}
.header.todown {
  transform: translateY(50%);
}
.header.dark {
  background-color: #252525;
  position: fixed;
  transform: translateY(0);
}
.header .container .row {
  justify-content: space-between;
  align-items: center;
}
.header .container .row .logo-menu .menu {
  display: none;
}
.header .container .row .logo-menu .logo a {
  color: #fff;
  font-family: "Figtree", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.header .container .row .navbar .list {
  display: flex;
  gap: 12px;
}
.header .container .row .navbar .list .list-item a {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  position: relative;
}
.header .container .row .navbar .list .list-item a::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0;
  left: 0;
  bottom: -2px;
  background-color: #fff;
  transition: width 0.3s ease;
}
.header .container .row .navbar .list .list-item a:hover::after {
  width: 100%;
}
.header .container .row .navbar .list .list-item.active a {
  color: red;
}
.header .container .language {
  color: #fff;
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 768px) {
  .header .container {
    width: 100%;
  }
  .header .container .row {
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    position: relative;
  }
  .header .container .row .logo-menu {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }
  .header .container .row .logo-menu .logo {
    width: 100px;
  }
  .header .container .row .logo-menu .menu {
    display: block;
    width: 24px;
    height: 24px;
  }
  .header .container .row .logo-menu .menu img {
    width: 24px;
    height: 24px;
  }
  .header .container .row .navbar {
    display: none;
    background-color: #000;
    width: 100%;
    padding: 10px;
  }
  .header .container .row .navbar.activeMenu {
    display: block;
  }
  .header .container .row .navbar .list {
    flex-direction: column;
    margin-top: 0;
    width: 100%;
  }
  .header .container .row .navbar .list .list-item a {
    width: 100%;
    display: inline-block;
  }
  .header .container .row .navbar .list .list-item a:hover::after {
    width: 20%;
  }
  .header .container .language {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}
.footer {
  margin: 64px 0;
}
.footer .container .row {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .row .contact-footer {
  display: flex;
  gap: 42px;
}
.footer .container .row .contact-footer a {
  font-size: 20px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 10px;
  transform: scale(1);
  transition: all 0.4s ease;
}
.footer .container .row .contact-footer a:hover {
  transform: scale(1.1);
}
.footer .container .row .footer-icons {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}
.footer .container .row .footer-icons a {
  border: 1px solid #fff;
  padding: 12px;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.4s ease;
}
.footer .container .row .footer-icons a:hover {
  transform: translateY(-10px);
}
.footer .container .row .footer-icons a img {
  width: 16px;
  height: 16px;
}

.loding {
  position: absolute;
  z-index: 99999999;
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.loding.deactive {
  display: none;
}
.loding .container .row {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.loding .container .row .loding-text {
  color: #fff;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 20px;
  animation-duration: 2s;
}
.loding .container .row .loding-portfolio {
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 2px;
  animation-duration: 2s;
}
.loding .container .row .me-name {
  position: absolute;
  bottom: 10px;
}
.loding .container .row .me-name .name {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 2px;
}

.sing {
  background-color: black;
}
.sing .container .row {
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.sing .container .row .form {
  width: 30%;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
}
.sing .container .row .form label {
  color: #fff;
  margin: 10px 0;
  font-size: 20px;
}
.sing .container .row .form input {
  border-radius: 20px;
  padding: 5px 10px;
}
.sing .container .row .form .paswordText {
  color: red;
  margin-top: 5px;
}
.sing .container .row .form .sing-btn {
  border: none;
  margin-top: 30px;
  padding: 10px 0;
  border-radius: 20px;
}

.hero {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}
.hero .form-overley {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3843137255);
  display: none;
  z-index: 8888;
}
.hero .form-overley.block {
  display: block;
}
.hero #introVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6431372549), rgba(0, 0, 0, 0.5764705882));
  pointer-events: none;
}
.hero .container .row {
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 56px;
}
.hero .container .row .hero-content {
  display: flex;
  align-items: center;
}
.hero .container .row .hero-content .hero-title .title {
  font-weight: 200;
  font-family: "Figtree", sans-serif;
  color: #fff;
  font-size: 160px;
}
.hero .container .row .hero-content .intro .name-intro {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.hero .container .row .hero-content .intro .intro-role {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
.hero .container .row .btn {
  gap: 10px;
}
.hero .container .row .btn .touch {
  border-radius: 32px;
  padding: 16px 24px;
  box-shadow: 3px 3px 16px 0px rgba(34, 34, 34, 0.1411764706);
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-family: "Figtree", sans-serif;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.hero .container .row .btn .touch:hover {
  color: #000;
  background-color: #fff;
}
.hero .container .row .form {
  position: absolute;
  z-index: 99999;
  display: none;
  position: fixed;
  top: 30px;
  letter-spacing: 50%;
}
.hero .container .row .form.block {
  display: block;
}
.hero .container .row .form .glass-card {
  width: 500px;
  background: rgba(255, 255, 255, 0.17);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1), inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -1px 0 rgba(255, 255, 255, 0.1), inset 0 0 6px 3px rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.hero .container .row .form .glass-card .form-send {
  color: #fff;
  text-align: center;
  margin-top: 10px;
}
.hero .container .row .form .glass-card label {
  color: #fff;
  margin: 10px 0;
}
.hero .container .row .form .glass-card textarea {
  width: 100%;
  max-width: 100%;
  resize: none;
  overflow-y: auto;
  padding: 10px;
  height: 150px;
  border-radius: 10px;
}
.hero .container .row .form .glass-card input {
  padding: 10px;
  border-radius: 10px;
  border: none;
}
.hero .container .row .form .glass-card #form-btn {
  padding: 10px 0;
  width: 30%;
  border-radius: 40px;
  border: 1px solid #fff;
  transition: all 0.4s ease;
  font-weight: 400;
  font-size: 17px;
  margin-top: 10px;
}
.hero .container .row .form .glass-card #form-btn:hover {
  background-color: rgba(37, 37, 37, 0.0784313725);
  color: #fff;
}
.hero .container .row .form .glass-card p {
  color: #E94141;
  margin-top: 5px;
}
.hero .container .row .form .glass-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.8), transparent);
}
.hero .container .row .form .glass-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.8), transparent, rgba(255, 255, 255, 0.3));
}

.about {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.about .container .row {
  flex-direction: column;
}
.about .container .row .about-me {
  display: flex;
  width: 100%;
  height: 421px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}
.about .container .row .about-me .about-content {
  width: 684px;
  padding: 62px 0 72px 72px;
}
.about .container .row .about-me .about-content .title-about {
  font-size: 80px;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  color: #fff;
}
.about .container .row .about-me .about-content .intro-about {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-top: 23px;
}
.about .container .row .about-me .about-content .dev-skills {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}
.about .container .row .about-me .about-content .dev-skills .skill {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 16px 24px;
  border-radius: 100px;
  cursor: pointer;
}
.about .container .row .about-me .about-content .dev-skills .skill.blue {
  background-color: #4198e9;
}
.about .container .row .about-me .about-content .dev-skills .skill.green {
  background-color: #41e98e;
}
.about .container .row .about-me .about-content .dev-skills .skill.purple {
  background-color: #9f41e9;
}
.about .container .row .about-me .about-content .dev-skills .skill.red {
  background-color: #E94141;
}
.about .container .row .about-me .about-content .dev-skills .skill.yellow {
  background-color: #e9c441;
}
.about .container .row .about-me .img {
  width: 458px;
  height: 421px;
  overflow: hidden;
  border-radius: 0 0 32px 0;
}
.about .container .row .about-me .img img {
  width: 100%;
  height: 421px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 32px;
}
.about .container .row .all-expernce {
  display: flex;
}
.about .container .row .all-expernce .experince {
  background-color: rgba(255, 255, 255, 0.2);
  width: 507px;
  padding: 64px;
  border-radius: 32px;
  margin-top: 16px;
}
.about .container .row .all-expernce .experince .experience-list {
  display: flex;
  flex-direction: column;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-top: 20px;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .iocn {
  width: 46px;
  height: 46px;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .content .text {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .content .all-year {
  display: flex;
  gap: 10px;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .content .all-year .year {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .content .all-year .year-text {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.about .container .row .all-expernce .swiper {
  width: 717px;
  height: 100%;
  margin-top: 16px;
  border-radius: 32px;
  margin-left: 16px;
}
.about .container .row .all-expernce .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .icon {
  text-align: start;
  margin-top: 12px;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .icon img {
  width: 111px;
  height: 96px;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .testimonil {
  padding: 20px 72px 0 72px;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .testimonil .text {
  font-size: 24px;
  font-weight: 500;
  line-height: 140%;
  color: #fff;
  text-align: start;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .person {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 32px 0 64px 72px;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .person .person-img {
  width: 64px;
  height: 64px;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .person .person-img img {
  width: 100%;
  height: 64px;
  border-radius: 50%;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .person .person-info .person-name {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  text-align: start;
}
.about .container .row .all-expernce .swiper .swiper-slide .all-card .person .person-info .person-work {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.works .container .row {
  flex-direction: column;
}
.works .container .row .work-title {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 40px;
}
.works .container .row .work-re {
  position: relative;
}
.works .container .row .work-re .img-work {
  width: 100%;
  height: 560px;
  position: sticky;
  top: 100px;
  margin-bottom: 40px;
}
.works .container .row .work-re .img-work img {
  width: 100%;
  border-radius: 32px;
  height: 560px;
}
.works .container .row .work-re .img-work:nth-child(2) {
  top: 120px;
}
.works .container .row .work-re .img-work:nth-child(3) {
  top: 140px;
}
.works .container .row .work-re .img-work:nth-child(4) {
  top: 160px;
}
.works .container .row .work-re .img-work:nth-child(5) {
  top: 180px;
}
.works .container .row .work-re .img-work:nth-child(6) {
  top: 200px;
}
.works .container .row .work-re .img-work:nth-child(7) {
  top: 220px;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.7568627451)), url(../img/contact-img.png) center/cover;
  height: 380px;
  margin-top: 20px;
}
.contact .container .row {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact .container .row .contact-title {
  width: 822px;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 64px;
}
.contact .container .row .contact-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}
.contact .container .row .contact-btn img {
  width: 24px;
  height: 24px;
}
.contact .container .row .contact-btn .email {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 32px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  gap: 12px;
  border: 1px solid #fff;
  transition: all 0.4s ease;
}
.contact .container .row .contact-btn .email:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.contact .container .row .contact-btn .whatsapp {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  gap: 12px;
  transition: all 0.4s ease;
}
.contact .container .row .contact-btn .whatsapp:hover {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}

.header .container .row .navbar .list .list-item #btn-new {
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.admin-project {
  margin-top: 90px;
}
.admin-project .container .row .all-card {
  display: flex;
  flex-wrap: wrap;
  gap: 50px 20px;
}
.admin-project .container .row .all-card .card {
  position: relative;
  width: calc(33.333% - 20px);
  min-width: 300px;
  max-width: 360px;
  flex-grow: 1;
}
.admin-project .container .row .all-card .card .card-admin-img {
  background: url(../img/world-telecom.jpg);
  height: 250px;
  width: 340px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  transition: 0.3s ease;
}
.admin-project .container .row .all-card .card .card-admin-img .btn {
  display: none;
}
.admin-project .container .row .all-card .card .card-admin-img .title {
  display: none;
  height: 300px;
  transition: all 0.4s ease;
}
.admin-project .container .row .all-card .card .card-admin-img .data {
  display: none;
}
.admin-project .container .row .all-card .card .card-admin-img:hover .all-content-admin {
  opacity: 0;
  transform: translateY(-30px);
  animation: slideDownFade 0.6s ease-out forwards;
  background: linear-gradient(rgba(0, 0, 0, 0.8235294118));
  border-radius: 20px 20px 0 0;
}
@keyframes slideDownFade {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.admin-project .container .row .all-card .card .card-admin-img:hover .all-content-admin .title {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
.admin-project .container .row .all-card .card .card-admin-img:hover .all-content-admin .btn {
  height: 100%;
  position: absolute;
  top: 60%;
  left: 25%;
  display: block;
}
.admin-project .container .row .all-card .card .card-admin-img:hover .all-content-admin .btn button {
  background-color: #fff;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 10px;
  cursor: pointer;
}
.admin-project .container .row .all-card .card .card-admin-img:hover .all-content-admin .data {
  display: flex;
  justify-content: end;
  color: #fff;
  padding: 0 10px 0 0;
}

.modal {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3137254902);
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
}
.modal .moadal-overley {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: rgba(7, 7, 7, 0.3803921569);
  z-index: -1;
}
.modal.active {
  display: flex;
}
.modal .adminEditForm {
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 50%;
  max-height: 70vh;
  padding: 16px;
  background-color: #ffffff;
}
.modal .adminEditForm .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal .adminEditForm .title .close {
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}
.modal .adminEditForm .title .close:hover {
  opacity: 0.7;
}
.modal .adminEditForm .inp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.modal .adminEditForm .inp input {
  outline: 0;
  width: 100%;
  border: 1px solid black;
  border-radius: 8px;
  padding: 12px 8px;
}
.modal .adminEditForm .btn {
  outline: 0;
  border: 0;
  background-color: blue;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  color: #ffffff;
}
.modal .adminEditForm .btn:hover {
  opacity: 0.7;
}
.modal .adminEditForm .inp .error-text-name,
.modal .adminEditForm .inp .error-text-data,
.modal .adminEditForm .inp .error-text-img {
  color: #E94141;
  font-size: 12px;
  min-height: 16px;
}/*# sourceMappingURL=index.css.map */