@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

.container {
  width: 84%;
  margin: 0 auto;
}
.container .row {
  display: flex;
}

body {
  background-color: #252525;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
  padding: 20px 0;
  transition: all 0.3s ease;
}
.header.toUp {
  transform: translateY(-100%);
}
.header.todown {
  transform: translateY(50%);
}
.header.dark {
  background-color: #252525;
  position: fixed;
  transform: translateY(0);
}
.header .container .row {
  justify-content: space-between;
  align-items: center;
}
.header .container .row .logo a {
  color: #fff;
  font-family: "Figtree", sans-serif;
  font-size: 32px;
  font-weight: 600;
}
.header .container .row .navbar .list {
  display: flex;
  gap: 12px;
}
.header .container .row .navbar .list .list-item a {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.footer {
  margin-top: 64px;
}
.footer .container .row {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .container .row .contact-footer {
  display: flex;
  gap: 42px;
}
.footer .container .row .contact-footer a {
  color: #fff;
  display: flex;
  align-items: center;
}
.footer .container .row .footer-icons {
  margin-top: 16px;
  display: flex;
  gap: 12px;
}
.footer .container .row .footer-icons .img-icon-footer {
  width: 22px;
  height: 22px;
  border: 1px solid #fff;
  border-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer .container .row .footer-icons .img-icon-footer img {
  width: 100%;
  height: 100%;
}

.hero {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
}
.hero #introVideo {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6431372549), rgba(0, 0, 0, 0.5764705882));
  pointer-events: none;
}
.hero .container {
  height: 100%;
}
.hero .container .row {
  height: 100%;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  gap: 56px;
}
.hero .container .row .hero-content {
  display: flex;
  align-items: center;
}
.hero .container .row .hero-content .hero-title .title {
  font-weight: 200;
  font-family: "Figtree", sans-serif;
  color: #fff;
  font-size: 160px;
}
.hero .container .row .hero-content .intro .name-intro {
  font-size: 32px;
  font-weight: 300;
  color: #fff;
}
.hero .container .row .hero-content .intro .intro-role {
  font-size: 64px;
  font-weight: 700;
  color: #fff;
}
.hero .container .row .btn {
  gap: 10px;
}
.hero .container .row .btn .touch {
  border-radius: 32px;
  padding: 16px 24px;
  box-shadow: 3px 3px 16px 0px rgba(34, 34, 34, 0.1411764706);
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  font-family: "Figtree", sans-serif;
  border: 2px solid #fff;
  transition: all 0.3s ease;
}
.hero .container .row .btn .touch:hover {
  color: #000;
  background-color: #fff;
}

.about {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.about .container .row {
  flex-direction: column;
}
.about .container .row .about-me {
  display: flex;
  width: 100%;
  height: 421px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 32px;
}
.about .container .row .about-me .about-content {
  width: 684px;
  padding: 62px 0 72px 72px;
}
.about .container .row .about-me .about-content .title-about {
  font-size: 80px;
  font-weight: 700;
  font-family: "Figtree", sans-serif;
  color: #fff;
}
.about .container .row .about-me .about-content .intro-about {
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  margin-top: 23px;
}
.about .container .row .about-me .about-content .dev-skills {
  display: flex;
  gap: 8px;
  margin-top: 24px;
}
.about .container .row .about-me .about-content .dev-skills .skill {
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 16px 24px;
  border-radius: 100px;
}
.about .container .row .about-me .about-content .dev-skills .skill.blue {
  background-color: #4198e9;
}
.about .container .row .about-me .about-content .dev-skills .skill.green {
  background-color: #41e98e;
}
.about .container .row .about-me .about-content .dev-skills .skill.purple {
  background-color: #9f41e9;
}
.about .container .row .about-me .about-content .dev-skills .skill.red {
  background-color: #E94141;
}
.about .container .row .about-me .about-content .dev-skills .skill.yellow {
  background-color: #e9c441;
}
.about .container .row .about-me .img {
  width: 458px;
  height: 421px;
  position: relative;
}
.about .container .row .about-me .img img {
  width: 100%;
  height: 421px;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .container .row .all-expernce {
  display: flex;
}
.about .container .row .all-expernce .experince {
  background-color: rgba(255, 255, 255, 0.2);
  width: 507px;
  padding: 64px;
  border-radius: 32px;
  margin-top: 16px;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence {
  display: flex;
  align-items: center;
  gap: 33px;
  margin-top: 20px;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .iocn {
  width: 46px;
  height: 46px;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .content .text {
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}
.about .container .row .all-expernce .experince .experience-list .list-item-exprence .content .year {
  font-size: 48px;
  font-weight: 600;
  color: #fff;
}
.about .container .row .all-expernce .swiper {
  width: 50%;
  height: 100%;
}
.about .container .row .all-expernce .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about .container .row .all-expernce .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 50%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.works .container .row {
  flex-direction: column;
}
.works .container .row .work-title {
  color: #fff;
  font-size: 64px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 64px;
  margin-top: 40px;
}
.works .container .row .work-re {
  position: relative;
}
.works .container .row .work-re .img-work {
  width: 100%;
  height: 560px;
  position: sticky;
  top: 90px;
}
.works .container .row .work-re .img-work img {
  width: 100%;
  border-radius: 32px;
  height: 560px;
}

.contact {
  background: linear-gradient(rgba(0, 0, 0, 0.7568627451)), url(../img/contact-img.png) center/cover;
  height: 380px;
  margin-top: 20px;
}
.contact .container .row {
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.contact .container .row .contact-title {
  width: 822px;
  font-size: 64px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-top: 64px;
}
.contact .container .row .contact-btn {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}
.contact .container .row .contact-btn img {
  width: 24px;
  height: 24px;
}
.contact .container .row .contact-btn .email {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 32px;
  background-color: #fff;
  color: #000;
  font-size: 24px;
  font-weight: 500;
  gap: 12px;
  border: 1px solid #fff;
}
.contact .container .row .contact-btn .whatsaap {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  border-radius: 32px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  gap: 12px;
}/*# sourceMappingURL=index.css.map */