@use "../variables" as *;
.header {
  .container {
    .row {
      .navbar {
        .list {
          .list-item {
            #btn-new {
              padding: 10px 20px;
              border-radius: 20px;
              border: 1px solid black;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
.admin-project {
  margin-top: 90px;
  .container {
    .row {
      .all-card {
        display: flex;
        flex-wrap: wrap;
        gap: 50px 20px;
        .card {
          position: relative;
          width: calc(33.333% - 20px);
          min-width: 300px;
          max-width: 360px;
          flex-grow: 1;
          .card-admin-img {
            background: url(../img/world-telecom.jpg);
            height: 250px;
            width: 340px;
            background-size: cover;
            background-position: center;
            border-radius: 20px;
            transition: 0.3s ease;
            .btn {
              display: none;
            }
            .title {
              display: none;
              height: 300px;
              transition: all 0.4s ease;
            }
            .data {
              display: none;
            }
            &:hover {
              .all-content-admin {
                opacity: 0;
                transform: translateY(-30px);
                animation: slideDownFade 0.6s ease-out forwards;
                background: linear-gradient(#000000d2);
                border-radius: 20px 20px 0 0;
                @keyframes slideDownFade {
                  to {
                    opacity: 1;
                    transform: translateY(0);
                  }
                }
                .title {
                  color: $pureWhite;
                  font-size: 20px;
                  font-weight: 600;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  height: 200px;
                }
                .btn {
                  height: 100%;
                  position: absolute;
                  top: 60%;
                  left: 25%;
                  display: block;
                  button {
                    background-color: $pureWhite;
                    padding: 10px 20px;
                    border: 1px solid $pureblack;
                    border-radius: 10px;
                    cursor: pointer;
                  }
                }
                .data {
                  display: flex;
                  justify-content: end;
                  color: $pureWhite;
                  padding: 0 10px 0 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.modal {
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000050;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
  .moadal-overley {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #07070761;
    z-index: -1;
  }
  &.active {
    display: flex;
  }
  .adminEditForm {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close {
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    width: 50%;
    max-height: 70vh;
    padding: 16px;
    background-color: #ffffff;
    .inp {
      display: flex;
      flex-direction: column;
      gap: 8px;
      input {
        outline: 0;
        width: 100%;
        border: 1px solid black;
        border-radius: 8px;
        padding: 12px 8px;
      }
    }
    .btn {
      outline: 0;
      border: 0;
      background-color: blue;
      padding: 12px;
      width: 100%;
      border-radius: 8px;
      transition: 0.3s ease;
      cursor: pointer;
      color: #ffffff;
      &:hover {
        opacity: 0.7;
      }
    }
    .inp {
      .error-text-name,
      .error-text-data,
      .error-text-img {
        color: #e94141;
        font-size: 12px;
        min-height: 16px;
      }
    }
  }
}
@media (max-width: 768px) {
  .admin-project {
    display: none;
    margin-top: 90px;
    .container {
      .row {
        .all-card {
          display: flex;
          flex-wrap: wrap;
          gap: 50px 20px;
          .card {
            position: relative;
            width: calc(33.333% - 20px);
            min-width: 300px;
            max-width: 360px;
            flex-grow: 1;
            .card-admin-img {
              background: url(../img/world-telecom.jpg);
              height: 250px;
              width: 340px;
              background-size: cover;
              background-position: center;
              border-radius: 20px;
              transition: 0.3s ease;
              .btn {
                display: none;
              }
              .title {
                display: none;
                height: 300px;
                transition: all 0.4s ease;
              }
              .data {
                display: none;
              }
              &:hover {
                .all-content-admin {
                  opacity: 0;
                  transform: translateY(-30px);
                  animation: slideDownFade 0.6s ease-out forwards;
                  background: linear-gradient(#000000d2);
                  border-radius: 20px 20px 0 0;
                  @keyframes slideDownFade {
                    to {
                      opacity: 1;
                      transform: translateY(0);
                    }
                  }
                  .title {
                    color: $pureWhite;
                    font-size: 20px;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 200px;
                  }
                  .btn {
                    height: 100%;
                    position: absolute;
                    top: 60%;
                    left: 25%;
                    display: block;
                    button {
                      background-color: $pureWhite;
                      padding: 10px 20px;
                      border: 1px solid $pureblack;
                      border-radius: 10px;
                      cursor: pointer;
                    }
                  }
                  .data {
                    display: flex;
                    justify-content: end;
                    color: $pureWhite;
                    padding: 0 10px 0 0;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .modal {
    display: none;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #00000050;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 1;
  .moadal-overley {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #07070761;
    z-index: -1;
  }
  &.active {
    display: flex;
  }
  .adminEditForm {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    .title {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .close {
        font-size: 24px;
        font-weight: 900;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    width: 50%;
    max-height: 70vh;
    padding: 16px;
    background-color: #ffffff;
    .inp {
      display: flex;
      flex-direction: column;
      gap: 8px;
      input {
        outline: 0;
        width: 100%;
        border: 1px solid black;
        border-radius: 8px;
        padding: 12px 8px;
      }
    }
    .btn {
      outline: 0;
      border: 0;
      background-color: blue;
      padding: 12px;
      width: 100%;
      border-radius: 8px;
      transition: 0.3s ease;
      cursor: pointer;
      color: #ffffff;
      &:hover {
        opacity: 0.7;
      }
    }
    .inp {
      .error-text-name,
      .error-text-data,
      .error-text-img {
        color: #e94141;
        font-size: 12px;
        min-height: 16px;
      }
    }
  }
}
}